# OS and IDE
.DS_Store
.idea/
*.iml
.ipynb_checkpoints/
__pycache__
env/

# Data and other too large files
data/
media/
*.sqlite3
harvester/statics
harvester/pol_harvester/logs/*.log

# Environment files
.env
harvester/.commit
