import os

from .base_settings import *


SECRET_KEY = 'should-be-unique-per-installation'

DATABASES['default']['NAME'] = os.path.join(os.sep, 'data', 'db', 'db.sqlite3')

MEDIA_ROOT = '/data/media/'
DATAGROWTH_DATA_DIR = "/data"
